- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

.ui-widget.ui-corner-all.view-container
  .ui-state-active.ui-corner-top.line.view-heading
    %span.ui-icon.ui-icon-document
    %span
      = link_to_unless_current 'Synset:', synset
      - synset.senses.sort_by{|s|s.word.name}.each do |sense|
        - if @sense == sense
          &= sense.word.name
        - else
          = link_to h(sense.word.name), sense, :class => 'search-link unstyled'
      &nbsp;
      %em{:title => 'lexical file name, a broad category associated with this word sense'}
        &= "<#{synset.lexname}>"
      - unless synset.freq_cnt.zero?
        &nbsp;
        %span{:title => 'frequency count of this word sense in a reference text'}
          = "freq. cnt.: #{synset.freq_cnt.to_s :delimiter => ','}"
  .ui-corner-bottom.view-content.ui-widget-content
    %strong gloss
    %br/
    %br/
    &nbsp;
    &= synset.gloss
    - unless synset.samples.empty?
      %hr/
      %h4 sample sentences
      %ul
        - synset.samples.each do |sample|
          %li=h sample
