- #  Dubsar Dictionary Project
- #  Copyright (C) 2010-13 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

%div{'data-role' => 'page', 'data-theme' => 'b', 'data-title' => "Dubsar Mobile"}
  %div{'data-role' => 'header', 'data-theme' => 'b'}
    =render :partial => 'shared/mobile_header'
    %br/
    &= "#{@synset.word_list_and_pos} <#{@synset.lexname}>"
    %br/
    &nbsp;
    &= @synset.gloss
  %div{'data-role' => "content"}
    - unless @synset.freq_cnt.zero?
      %h4= "freq. cnt.: #{@synset.freq_cnt.to_s :delimiter => ','}"
      %hr/
    %h3 synonyms
    %br/
    %ul{'data-role' => "listview"}
      - @synset.senses.each do |sense|
        %li
          = link_to url_for(:controller => :senses, :action => :m_show, :id => sense.id, :index => 0), 'data-transition' => 'slide' do
            &= sense.word.name
    - unless @synset.samples.empty?
      %br/
      %h4 sample sentences
      %ul
        - @synset.samples.each do |sample|
          %li=h sample
    - unless @synset.pointers.blank?
      %h3 pointers
      - @synset.pointers.group_by(&:ptype).each do |ptype, ptrs|
        %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
          %h3= ptype
          - ptrs.each do |ptr|
            = m_target_link ptr.target
  %div.ui-bar{'data-role' => 'footer', 'data-theme' => 'b'}
    = render :partial => 'shared/mobile_footer'
