#header-bar.ui-corner-all
  %table
    %tr
      - ('A'..'Z').each do |letter|
        %td
          = link_to letter, url_for(:action => :show, :term => letter + '%'), :title => "words starting with #{letter}"
  = form_tag(url_for(:controller => :words, :action => :show), :method => :get) do

    =hidden_field_tag :back, 'yes'
    %table#word-search-term
      %colgroup
        %col#c1
        %col#c2
        %col#c3
      %tr
        %td &nbsp;
        %td
          = label_tag :term, 'enter a word:', :id => 'word-input-label'
        %td &nbsp;
      %tr
        %td
          #word-search-options-buttonset.small-buttonset
            = check_box_tag :case, 'case', false, :id => 'word-case', :tabindex => '1'
            = label_tag 'word-case', 'match case', :title => 'case-sensitive search'
        %td
          = text_field_tag :term, '', :id => 'word-input', :tabindex => '2', :title => 'enter a word or search term'
        %td
          %button{:type => 'submit', :id => 'word-submit', :tabindex => '3', :title => 'submit search'} search
