- #  Dubsar Dictionary Project
- #  Copyright (C) 2010-11 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

#header-bar.ui-corner-all
  %table
    %tbody
      %tr
        %td
          %table#alphabet
            %tbody
              %tr
                - ('A'..'Z').each do |letter|
                  %td
                    = link_to letter, url_for(:controller => :words, :action => :show, :term =>"^[#{letter}#{letter.downcase}]", :match => 'regexp', :title => "#{letter}"), :title => "words starting with #{letter}", :class => 'search-link'
                %td
                  %a.search-link{:href => url_for(:controller => :words, :action => :show, :term => '^[^A-Za-z]', :match => 'regexp', :title =>'...'), :title => 'words not starting with a letter'}
                    &hellip;
        %td
          = form_tag(url_for(:controller => :words, :action => :show), :method => :get, :id => 'word-form') do

            =hidden_field_tag :back, 'yes'
            %table#word-search-term
              %colgroup
                %col#c1
                %col#c2
                %col#c3
              %tr
                %td &nbsp;
                %td
                  %a{:href => '#', :id => 'sql-help-link', :title => 'explain'}/
                %td &nbsp;
              %tr
                %td
                  #word-search-options-buttonset.small-buttonset
                    = check_box_tag :match, 'case', case_checked?, :id => 'word-case', :tabindex => '1'
                    = label_tag 'word-case', 'match case', :title => 'case-sensitive search'
                %td
                  = search_field_tag :term, search_term, :id => 'word-input', :tabindex => '2', :title => 'enter a word or search term (SQL wildcards accepted)'
                %td
                  %button#word-submit{:type => 'submit', :class => 'search-link', :tabindex => '3', :title => 'submit search'} search
