- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

- word = @sense.word
%div{'data-role' => 'page', 'data-theme' => 'b', 'data-title' => "Dubsar Mobile - #{word.name} (#{word.pos}.)"}
  %div{'data-role' => 'header', 'data-theme' => 'b'}
    =render :partial => 'shared/mobile_header'
    %br/
    &="#{word.name} (#{word.pos}.)"
    - unless word.other_forms.empty?
      %em
        &=" #{word.other_forms}"
    %br/
    &nbsp;
    &= @sense.synset.gloss
  %div{'data-role' => "content"}
    = link_to url_for(:controller => :words, :action => :m_show, :id => @sense.word.id), 'data-transition' => 'slidedown', 'data-role' => 'button', 'data-icon' => 'arrow-u' do
      &= "Word: #{@sense.word.name} (#{@sense.word.pos}.)"
    = link_to url_for(:controller => :synsets, :action => :m_show, :id => @sense.synset.id), 'data-transition' => 'slidedown', 'data-role' => 'button', 'data-icon' => 'arrow-u' do
      &= "Synset: #{@sense.synset.gloss}"
    %h3
      &="<#{@sense.synset.lexname}>"
      &nbsp;
      - if @sense.marker
        = "(#{@sense.marker})"
        &nbsp;
      - if @sense.freq_cnt > 0
        &= "freq. cnt.: #{@sense.freq_cnt.to_s :delimiter => ','}"
    - unless @sense.synset.senses_except(@sense.word).empty?
      %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
        %h3 synonyms
        - @sense.synset.senses_except(@sense.word).each do |s|
          = link_to url_for(:controller => :senses, :action => :m_show, :id => s.id), 'data-transition' => 'slide', 'data-role' => 'button', 'data-icon' => 'arrow-r', 'data-iconpos' => 'right' do
            &= s.word.name
    - unless @sense.frames.empty?
      %h3 verb frames
      %ul
        - @sense.frames.each do |frame|
          %li
            != frame
    - unless @sense.synset.samples.blank?
      %h3 sample sentences
      %ul
        - @sense.synset.samples.each do |sample|
          - unless sample.blank?
            %li=h sample
    - unless @sense.pointers.blank? and @sense.synset.pointers.blank?
      %h3 pointers
      - (@sense.pointers+@sense.synset.pointers).group_by(&:ptype).each do |ptype, ptrs|
        %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
          %h3= ptype
          - ptrs.each do |ptr|
            = m_target_link ptr.target
  %div.ui-bar{'data-role' => 'footer', 'data-theme' => 'b'}
    = render :partial => 'shared/mobile_footer'
