- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

- content_for :title do
  &= @sense.page_title

- content_for :description do
  %meta{:name => 'Description', :content => @sense.meta_description}
  %meta{:name => 'Keywords', :content => 'Dubsar, Dubsar Project, WordNet, thesaurus, dictionary, free dictionary, online dictionary, Ruby on Rails, jQuery, jQuery UI, PostgreSQL, QUnit, open-source, GPL, GitHub, English'}
  != canonical_link_tag @sense
  != thumbnail_link_tags

#sense-tabs
  %ul
    %li#sense-tab
      = link_to sense_tab_path(@sense) do
        %span Sense
    %li#synset-tab
      = link_to "#{synset_tab_path(@sense.synset)}?sense_id=#{@sense.id}" do
        %span Synset
    %li#word-tab
      = link_to "#{word_tab_path(@sense.word)}?sense_id=#{@sense.id}" do
        %span Word
