- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%h2{:id => "#{accordion_word.unique_name}"}
  %a{:href => "##{accordion_word.unique_name}"}
    &= accordion_word.name
    %em
      &= "(#{accordion_word.pos}.)"
%div{:id => "pane_#{@count+=1}"}
  %span
    %em other forms:
    - if accordion_word.other_forms.length > 0
      &= accordion_word.other_forms
    - else
      (none)
    &nbsp;
    = link_to accordion_word, :class => 'search-link' do
      %em
        &= "Word entry for #{accordion_word.name} (#{accordion_word.pos}.)"
  %ol
    = render :partial => 'accordion_sense', :collection => accordion_word.senses
