- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%li
  - sense.synset.words_except(word).each do |w|
    =link_to w.name, "#{url_for(:action => :show, :term => w.name)}##{w.unique_name}", :title => w.name, :class => 'search-link'
  %span.tooltip
    &= sense.synset.gloss
    .template
      .ui-widget-header
        .ui-state-default.line
          %span.ui-icon.ui-icon-info
          %span.tooltip-header-text
            - if sense.freq_cnt > 0
              &= "freq. cnt.: #{sense.freq_cnt}"
            %em
              &="<#{sense.synset.lexname}>"
          %a.close-icon-span.ui-corner-all{:href => '#'}
            %span.ui-icon.ui-icon-close
      - unless sense.verb_frames.empty?
        %hr/
        %ul
          - sense.verb_frames.each do |verb_frame|
            %li
              &= verb_frame.frame
      - unless sense.synset.samples.blank?
        %hr/
        %table
          %tbody
            - sense.synset.samples.each do |sample|
              %tr
                %td
                  &= sample
      - unless sense.pointers.blank?
        %hr/
        %table
          %tbody
            - sense.unique_pointers.each do |ptype, words|
              %tr
                %td
                  %em
                    &= ptype
                %td
                  &= words.join(', ')
