- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%li
  - sense.synset.words_except(word).each do |w|
    =link_to w.name, "#{url_for(:action => :show, :term => w.name)}##{w.unique_name}", :title => w.name, :class => 'search-link'
  %span.tooltip.ui-corner-all
    &= sense.synset.gloss
    .template
      .ui-widget-header
        .ui-state-default.line
          %span.ui-icon.ui-icon-info
          %span.tooltip-header-text
            &nbsp;
            %em{:title => 'lexical file name, a broad category associated with this word sense'}
              &="<#{sense.synset.lexname}>"
            &nbsp;
            - if sense.freq_cnt > 0
              %span{:title => 'frequency count of this word sense in a reference text'}
                &= "freq. cnt.: #{sense.freq_cnt}"
              &nbsp;
          %a.close-icon-span.ui-state-default.ui-corner-all{:href => '#', :title => 'close'}
            %span.ui-icon.ui-icon-close
      - unless sense.verb_frames.empty?
        %hr/
        %strong{:title => 'generic sentence frames for this verb sense'}
          verb frames
        %ul
          - sense.verb_frames.each do |verb_frame|
            %li
              != frame_spanner verb_frame.frame
      - unless sense.synset.samples.blank?
        %hr/
        %strong{:title => 'sample sentences using this word sense (and synonymous ones)'}
          sample sentences
        %table
          %tbody
            - sense.synset.samples.each do |sample|
              %tr
                %td
                  &= sample
      - unless sense.pointers.blank?
        %hr/
        %strong{:title => 'links to related words of different types'}
          pointers
        %table
          %tbody
            - sense.unique_pointers.each do |ptype, words|
              %tr
                %td{:title => Pointer.help_text(ptype)}
                  %em
                    &= ptype
                %td
                  - words.each do |word|
                    =link_to word.name, "#{url_for(:action => :show, :term => word.name)}##{word.unique_name}", :title => word.name, :class => 'search-link'
