%h2{:id => "#{word.unique_name}"}
  %a{:href => "##{word.unique_name}"}
    &= word.name
    %em
      &= "(#{word.pos}.)"
%div{:id => "pane_#{@count+=1}"}
  %ol
    =render :partial => 'synset', :collection => word.synsets, :locals => { :word => word }
