- #  Dubsar Dictionary Project
- #  Copyright (C) 2010-14 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
- content_for :title do
  Dubsar FAQ
- content_for :description do
  %meta{:name => 'Description', :content => 'Frequently Asked Questions about the Dubsar Dictionary Project.'}
  %meta{:name => 'Keywords', :content => 'Dubsar, Dubsar Project, WordNet, thesaurus, dictionary, free dictionary, online dictionary, Ruby on Rails, jQuery, jQuery UI, SQLite, QUnit, open-source, GPL, GitHub, English'}
  %link{:rel => 'canonical', :href => 'https://dubsar-dictionary.com/faq'}
  != thumbnail_link_tags

#accordion
  %h2#faq_1
    %a{:href => '#faq_1'}
      Q. Where does the database come from?
  #pane_0
    A. This is the
    %a{:href => 'http://wordnet.princeton.edu'} WordNet&reg;
    3.0 data set from Princeton University,
    available for free under the
    %a{:href => 'http://wordnet.princeton.edu/wordnet/license', :title => 'WordNet 3.0 License'}
      WordNet 3.0 License.
  %h2#faq_2
    %a{:href => '#faq_2'}
      Q. Which words are in the dictionary?
  #pane_1
    A. The
    %a{:href => 'http://wordnet.princeton.edu'} WordNet&reg;
    data set is aimed at automated text processing and
    includes only the most numerous parts of speech: adjectives,
    adverbs, nouns and verbs.  It does not include conjunctions,
    interjections, prepositions or pronouns.  These words are far fewer
    in number and are less directly related to the meaning of any text.
    So you won't find
    %em from
    in Dubsar, but you will find
    %em
      %a{:href => url_for(:action => :show, :id => Word.find_by_name_and_part_of_speech('sedulous', 'adjective').id), :title => 'sedulous'}
        sedulous.
  %h2#faq_3
    %a{:href => '#faq_3'}
      Q. Which browsers work well with Dubsar?
  #pane_2
    A. Dubsar requires a JavaScript-enabled browser, but thanks to
    jQuery, nearly any browser that supports JavaScript will display
    Dubsar well, particularly:
    %ul
      %li
        Firefox 3&ndash;23 on all tested platforms (Ubuntu Linux, Mac OS X)
      %li
        Google Chrome 23&ndash;29 on all platforms
        %em Note:
        Dubsar has done well in every Chrome release since 6, but 21 and
        22 introduced some display issues. Chrome 23 fixed those
        problems.
      %li Safari 5 &amp; 6 on OS X
      %li OmniWeb 5 on OS X

    The
    =link_to 'QUnit test suite', qunit_path, :title => 'QUnit'
    currently passes in all these browsers.

    %h3 Mobile Devices

    %p
      Dubsar Mobile has been tested on an array of iOS and Android
      devices.  Except as noted in the
      =link_to 'Dubsar issue list', 'https://github.com/jdee/dubsar/issues', :title => 'Dubsar issue list'
      , the application is known to work well in all tested mobile
      environments.
  %h2#faq_5
    %a{:href => '#faq_5'}
      Q. What do those WordNet&reg; terms mean?
  #pane_3
    A. Some of them are listed here in Dubsar.  The data model used in
    Dubsar's SQLite database uses them for its table names.
    %h3 Word
    A dictionary entry with a unique name and part of speech.

    %h3
      =link_to 'Synset', url_for(:action => :show, :id => Word.find_by_name_and_part_of_speech('synset', 'noun').id), :title => 'Synset'
    A list of synonymous words in a particular sense.  Each word can
    belong to multiple synsets.  A synset is essentially a meaning that
    one or more words share.  It includes a gloss and optionally one or
    more sample sentences.

    %h3 Sense
    The intersection (or join table, in database terms) of words and
    synsets.  Each occurrence of one word in one synset is a sense of
    that word.  A sense is a specific meaning of a single word.

    %h3 Pointer
    A lexical or semantic relationship between senses or synsets.  A
    lexical pointer points from one sense to another (one specific
    meaning of one word to a specific meaning of another word).  A
    semantic pointer points from one synset to another and hence
    relates two meanings.  There are many specific pointer types.
  %h2#faq_6
    %a{:href => '#faq_6'}
      Q. What's all that stuff in the tooltips?
  #pane_4
    A. The tooltips display a number of things:
    %dl
      %dt lexical file name
      %dd
        broad categories associated with each word sense

      %dt adjective marker
      %dd
        for some adjective senses, a limitation on the syntactic
        position of the adjective when used in this sense (see below)

      %dt frequency count
      %dd
        number of times this word sense occurs in a reference text

      %dt verb frames
      %dd
        generic sentence frames applicable to this verb sense

      %dt sample sentences
      %dd
        sample sentences for the synset

    %h4 Adjective markers
    Some adjective senses may only be used in certain syntactic
    positions:
    %ul
      %li
        %strong (a) attributive
        The
        %em left
        side of the road.
      %li
        %strong (ip) immediately postnominal
        I live in the city
        %em proper.
      %li
        %strong (p) predicate
        It is
        %em well
        he did not go.

    Then there are lexical and semantic pointers from one word sense to
    another sense (for lexical pointers) or synset (for semantic ones).
    %hr/

    %table
      %thead
        %tr
          %th
            one way of saying it
          %th
            another way of saying it
      %tbody
        - Pointer.help_list.each do |ptype, help_text|
          %tr
            %td
              &= ptype
            %td
              &= help_text
  %h2#faq_7
    %a{:href => '#faq_7'}
      Q. Is there any other documentation available for Dubsar?
  #pane_5
    A. See the
    %a{:href => 'https://github.com/jdee/dubsar/wiki', :title => 'Dubsar wiki'} Dubsar wiki
    on GitHub.
  %h2#faq_8
    %a{:href => '#faq_8'}
      Q. How many entries does Dubsar have?
  #pane_6
    A. Here are current row counts, by table.  This list is live,
    generated from the database tables whenever you load this page.
    As Dubsar&apos;s data content evolves, this list of tables and their
    specific row counts will change.
    %table
      %tbody
        - %w{synset word sense inflection pointer}.each do |model|
          %tr
            %td
              =model_count(model)
            %td
              =model.pluralize
  %h2#faq_9
    %a{:href => '#faq_9'}
      Q. How long does it take to build the Dubsar database?
  #pane_7
    A. Currently it takes more than three hours.
  %h2#faq_10
    %a{:href => '#faq_10'}
      Q. How are the autocompleter results determined?
  #pane_8
    %p
      A. All search results use full text searching, similar to the
      behavior of most search engines, against the inflections table.
      All searching is case-insensitive.
      Results include all search terms. An asterisk (*) may be used to
      match any non-whitespace string, including nothing. Certain operators
      may also be used, in all uppercase, like "law OR order." Exact matches
      (results where the matching inflection is exactly the search term as
      it was typed) are sorted to the top. Other results are sorted in ASCII
      order, so all capital letters come before all lowercase letters.

    %p
      The autocompleter results are determined by looking first for an
      exact match, then by searching for
      %em search terms*,
      i.e., appending an
      asterisk to the search terms. So if you type in
      %em frus,
      which has no exact match, you will see the results of searching for
      %em frus*,
      which returns all results containing a term beginning with
      %em frus.

    %p
      Exact matching is case-sensitive, so if you search for
      %em Fruit,
      the word
      %em fruit
      will not appear at the top of the list. In fact, it will not show up in
      the autocompleter at all. If you perform a search for
      %em Fruit, fruit
      will appear sorted in with the rest of the results.
  %h2#faq_12
    %a{:href => '#faq_12'}
      Q. What is the QUnit test suite?
  #pane_9
    A. Dubsar makes heavy use of the JavaScript programming language
    in the browser.  The
    =link_to 'QUnit test suite', qunit_path, :title => 'QUnit'
    puts elements of Dubsar through a sequence of automated tests and
    reports the results.  The tests run in the browser when you load
    the page.  The test suite currently passes in all tested browsers.
  %h2#faq_13
    %a{:href => '#faq_13'}
      Q. How do I link to Dubsar?
  #pane_10
    A. Help tell other people about Dubsar:
    =link_to 'Link to Dubsar', link_path, :title => 'Link to Dubsar'
    from your website.
  %h2#faq_14
    %a{:href => '#faq_14'}
      Q. Is Dubsar on any social networks?
  #pane_11
    A. Yes.  Visit
    %p
      =link_to 'Dubsar on Facebook', 'http://www.facebook.com/pages/Dubsar/155561501154946', :title => 'Dubsar on Facebook'
    %p
      =link_to 'Dubsar on Twitter', 'http://twitter.com/#!/dubsar', :title => 'Dubsar on Twitter'
    %p
      =link_to 'Dubsar on Google+', 'https://plus.google.com/111210736976423589433', :title => 'Dubsar on Google+'

  %h2#faq_15
    %a{:href => '#faq_15'}
      Q. Does Dubsar use Cookies?
  #pane_12
    %p
      A. Yes.  Dubsar uses four cookies, one of which is persistent:
    %table
      %tbody
        %tr
          %td
            %em name
          %td
            %em type
          %td
            %em purpose
        %tr
          %td dubsar_theme
          %td persistent
          %td store the user&apos;s choice of light or dark display theme
        %tr
          %td dubsar_starting_pane
          %td transient
          %td store the open accordion pane
        %tr
          %td dubsar_starting_offset
          %td transient
          %td store the scroll offset of the result accordion
        %tr
          %td _dubsar_session
          %td transient
          %td maintain session state (used by Ruby on Rails&reg;)
    %p
      The only persistent cookie Dubsar uses is
      %em dubsar_theme,
      which simply registers your choice of display theme. The first
      time the page is visited, this cookie is set to
      &quot;light.&quot; It has a lifetime of thirty days.
    %p
      The other three cookies are transient, limited to a single
      browser session.
    %p
      The
      %em dubsar_starting_pane
      and
      %em dubsar_starting_offset
      cookies are used to redraw the screen correctly on refresh, in
      particular when returning an error (when no matching results are
      found).
    %p
      Dubsar has no knowledge of your identity when you visit the site.
      There is no authentication, no login, no user ID.  The
      %em _dubsar_session
      cookie identifies you to the server in an anonymous way, which is
      useful, for example, when returning error messages.  This is a
      standard technique, and it&apos;s built into Ruby on Rails&reg;.
    %p
      Dubsar conducted a brief experiment with links to social
      networks, but eventually abandoned them because of a number of
      problems involving cookies.  Now when you browse Dubsar, all
      content loaded into your browser is hosted by Dubsar until you
      leave the site.  All static content is hosted on the separate
      sub-domain s.dubsar-dictionary.com, which will not serve web
      pages and assigns no cookies, so if you
      =link_to 'Link to Dubsar', link_path, :title => 'Link to Dubsar'
      using the supplied HTML snippet, visitors to your site will not
      acquire or transmit any additional cookies.
  %h2#faq_17
    %a{:href => '#faq_17'}
      Q. What is OpenSearch?
  #pane_13
    %p
      A. The OpenSearch protocol allows some supported browsers (Internet
      Explorer 8, Firefox and Google Chome) to add Dubsar to the
      browser&apos;s list of search engines so that you can search
      Dubsar, complete with live suggestions, from your browser&apos;s
      search bar. The browser will recognize Dubsar&apos;s OpenSearch
      plug-in on its own. Chrome automatically adds all discovered search
      providers. IE 8 and Firefox will prompt you by highlighting the
      search-provider combo box. Dubsar also has an OpenSearch link
      at the top of each page that you can use for the purpose.
    %p
      Internet Explorer 9 discontinued support for the OpenSearch
      protocol. Internet Explorer 7 supports the OpenSearch protocol
      (without live suggestions), but Dubsar has never been tested in
      that browser, and it is not currently supported by Dubsar.
    %p
      See
      = link_to 'Wikipedia', 'http://en.wikipedia.org/wiki/OpenSearch'
      for more information.
  %h2#faq_19
    %a{:href => '#faq_19'}
      Q. Is there a mobile edition of Dubsar?
  #pane_14
    %p
      A. Yes. It's available at
      = link_to "#{mobile_url}", mobile_url, :class => 'undecorated'
  %h2#faq_20
    %a{:href => '#faq_20'}
      Q. Is Dubsar available for iPhone, iPad or Android?
  #pane_15
    %p
      A. Native Dubsar apps are available.
    %h3 iOS (1.3.1):
    %p
      =link_to 'App Store', 'https://itunes.apple.com/us/app/dubsar/id453868483?mt=8'

    %h3 Android (1.1.1):
    %p
      =link_to 'Google Play', 'https://play.google.com/store/apps/details?id=com.dubsar_dictionary.Dubsar'
    %p
      =link_to 'Amazon App Store', 'http://www.amazon.com/gp/mas/dl/android?p=com.dubsar_dictionary.Dubsar&ref=mas_pm_app_name'
    %p
      =link_to 'Direct Download (APK: 538 kB)', apk_link
  %h2#faq_21
    %a{:href => '#faq_21'}
      Q. How do I get help with a problem?
  #pane_16
    %p
      A. Contact
      =link_to 'support@dubsar-dictionary.com', 'mailto:support@dubsar-dictionary.com'
      for any technical support issues.
  %h2#faq_22
    %a{:href => '#faq_22'}
      Q. How does full text searching work?
  #pane_17
    %p
      A. Dubsar searches now work similarly to most search engines.
    %ul
      %li All searching is case-insensitive.
      %li Search results will include anything that contains all search terms.
      %li
        An asterisk (*) stands for any non-whitespace string (including nothing).
        So searching for
        %em count*
        matches anything containing a discrete term that begins with
        %em count.
      %li
        Certain operators are recognized in all caps (e.g.,
        %em law OR order
        ).
      %li
        Results are sorted in ASCII order, with all capital letters coming before all
        lower-case letters. But case-sensitive exact matches (including inflections)
        are sorted to the top.
