- #  Dubsar Dictionary Project
- #  Copyright (C) 2010-15 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
- content_for :title do
  Dubsar
- content_for :description do
  %meta{:name => 'msvalidate.01', :content => 'F2EEA320FF0F6BDFE375429190B341F2'}
  %meta{:name => 'google-site-verification', :content => 'BIjZxxkFvycrNsXdQLSG6gzsGqJe1aTQHkHAdsNfyx8'}
  %meta{:name => 'Description', :content => 'The Dubsar Project is a suite of open-source dictionary applications using content from the Princeton University WordNet® project.'}
  %meta{:name => 'Keywords', :content => 'Dubsar, Dubsar Project, WordNet, thesaurus, dictionary, free dictionary, online dictionary, Ruby on Rails, jQuery, jQuery UI, SQLite, QUnit, open-source, GPL, GitHub, English'}
  %meta{:property => 'og:title', :content => 'Dubsar'}
  %meta{:property => 'og:type', :content => 'website'}
  %meta{:property => 'og:url', :content => 'https://dubsar.info'}
  %meta{:property => 'og:image', :content => "#{image_path 'dubsar-big.png'}"}
  %meta{:property => 'og:site_name', :content => 'The Dubsar Project'}
  %meta{:property => 'fb:admins', :content => '1015821519'}
  %meta{:property => 'og:description', :content => 'The Dubsar Project is a suite of open-source dictionary applications using content from the Princeton University WordNet® project.'}
  %meta{:property => 'og:email', :content => 'dubsar@dubsar-dictionary.com'}
  %link{:rel => 'canonical', :href => 'https://dubsar.info'}

- # Main page content

- # Banner
=image_tag 'dubsar-full@3x.png', size: '202x45', style: 'margin: 0.5em;'

%p{style: 'font-size: x-large; font-weight: bold;'}
  Powered by WordNet&reg;

- # Search form
=render partial: 'search_form'

%br/

- # WOTD
%strong Word of the Day

%div
  - wotd = DailyWord.word_of_the_day.word
  = link_to wotd.name_and_pos, wotd

- # News
#main-news
  = link_to news_path, id: 'news-link' do
    = render partial: 'news'

- # Mobile app links
%strong Mobile Apps
%br/
= link_to 'https://itunes.apple.com/us/app/dubsar-dictionary-project/id453868483?mt=8', style: 'text-decoration: none;', target: '_blank' do
  =image_tag 'Download_on_the_App_Store_Badge_US-UK_135x40.svg', size: '135x40', alt: 'Download on the App Store'
= link_to 'https://play.google.com/store/apps/details?id=com.dubsar_dictionary.Dubsar', style: 'text-decoration: none;', target: '_blank' do
  = image_tag 'en_app_rgb_wo_45.png', alt: 'Android app on Google Play', size: '129x45'
= link_to 'http://www.amazon.com/gp/mas/dl/android?p=com.dubsar_dictionary.Dubsar&ref=mas_pm_app_name', style: 'text-decoration: none;', target: '_blank' do
  = image_tag 'amazon-apps-store-us-black.png', alt: 'Available at Amazon', size: '132x45', id: 'amazon-light'
  = image_tag 'amazon-apps-store-us-white.png', alt: 'Available at Amazon', size: '132x45', id: 'amazon-dark'
%br/
= link_to 'APK (591 kB)', apk_link, style: 'font-size: large;'

%br/

- # Theme picker
= render partial: 'theme_picker'

- # Alphabet links
#alphabet
  - ('A'..'Z').each do |letter|
    = link_to letter, url_for(:controller => '/words', :action => :search, :term =>"[#{letter}#{letter.downcase}]*", :match => 'glob', :title => "#{letter}"), :title => "words starting with #{letter}", :class => 'search-link alphabet-link'
  %a.alphabet-link.search-link{:href => url_for(:controller => '/words', :action => :search, :term => '[^A-Za-z]*', :match => 'glob', :title =>'...'), :title => 'words not starting with a letter'}
    &hellip;
