- #  Dubsar Dictionary Project
- #  Copyright (C) 2010-13 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
- content_for :title do
  Laertes Testing FAQ
- content_for :description do
  %link{:rel => 'canonical', :href => m_laertes_faq_url}

%div#faq{'data-role' => 'page', 'data-title' => "Laertes Testing FAQ", 'data-theme' => 'b'}
  %div{'data-role' => 'header', 'data-position' => 'inline', 'data-theme' => 'b'}
    = render :partial => 'shared/mobile_header'
    %br/
    Laertes Testing Frequently Asked Questions
  %div{'data-role' => 'content'}
    %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
      %h2
        Q. What is this page?
      A. Apologies for the Dubsar intrusion. This is just an easy place and format for me
      to use. This will grow over time into an FAQ or help for users. For now, hopefully
      it will help testers of Laertes to understand how the game works and help new testers
      get started without repeating a lot of information in each build e-mail. I&apos;m
      just trying to get this up and running now. Expect the content and format to evolve
      quite a bit. This page should be considered by no means exhaustive. I am just trying
      to give testers some help and start building a real manual. Please let me know if you
      think something needs to change here.
    %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
      %h2
        Q. What is the game about?
      %p
        A. Laertes is a first-person RPG for iOS. There may be support for other platforms
        like Android and desktops some day (next year at the earliest).
      %p
        The game is set in Ancient Greece. I have been motivated by decades of life as an
        RPG junkie. I love those games, but often the writing is lazy and absurd and may as
        well be randomly generated. I want this game to be a little more realistic, so it
        is set in a historical time period, and I hope to achieve a good degree of historical
        realism. There are supernatural elements, but they are muted.
      %p
        Laertes is the name of a central character in the game, one who will eventually
        accompany you on most of your quests (once I&apos;ve built that part).
      %p
        Everything is under construction at the moment. That applies in spades to the
        music, dialog, narrative, quests, artwork, textures, images, books and so on. All is
        subject to change. The game will probably be complete in August, and then
        I&apos;ll build real content for it. I would consider it a bit more than half done now.
      %p
        I plan to make this a free app and to sell individual adventures as IAP content.
        There will be a little bit of free content up front and probably more later on.
        I built a Rails/jQuery UI/Raphael.js app to generate and maintain the content. I
        might one day host that and let users contribute their own content: maps, quests,
        treasure, people, so on. That is quite some time off though, if it happens.
      %p
        %em Volume
        is the term I use internally for a modular unit of content that can be
        individually installed and played. There is currently one volume built into the
        app bundle, which is getting fatter and fatter. Now that the app includes textures,
        there are lots of image files bundled in. Eventually, the app proper will be much
        smaller, and you&apos;ll download all that stuff as part of each volume.
    %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
      %h2
        Q. Where can I see screenshots?
      %p
        A. I will keep this up to date:
        = link_to 'http://redmenace.imgur.com/Laertes.', 'http://redmenace.imgur.com/Laertes', target: '_blank'
        Hopefully the
        pretty pictures will keep testers interested in coming back to the same material
        over and over.
    
    %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
      %h2
        Q. How do you start a character?
      %p
        A. Start on the Character tab and tap the + button on the Characters view. You make
        a few permanent choices at the beginning: name, gender, race and class. Race and
        gender only ever enter the narrative portion of the game, influencing how people
        respond to you and what they have to say. There are no consequences in game play.
      %p
        Your character class is another matter. There are six skills. Each class specializes
        in two of them. There is a lot of in-game help and explanation in the character
        views. Tap all the buttons for explanations of race, class, gender, skills, skill
        points, talents and so on. Most of that will probably end up here sooner or later.
    %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
      %h2
        Q. How do you play?
      %p
        A. First, create or choose a character. You can have multiple characters and switch
        between them on the Character tab. All the other tabs in the game refer to the
        context of the current character: the current character&apos;s inventory, quests,
        library, and so on. If you haven't selected or created a character, the other
        tabs will tell you to do so.
      = image_tag 'laertes-world-map.png', :alt => 'laertes-world-map', :width => 480, :height => 852
      %p
        Game play occurs primarily through the Map/Areas tab. Start by viewing the world
        map. You can then zoom the map or tap Areas to see a list of areas you can visit.
        Tapping one of the rows in the Areas list will start a game. Tap the detail
        disclosure button there to see a thumbnail map of that area without starting a
        game. You can also start a game from that view. You will also reach the area
        detail view by tapping an area on the world map.
      %p
        If you have a current game paused (if the Resume button is showing), that area is
        marked on the map with a star, and its name appears in gold. Other area names appear
        with cyan text. Map annotations that do not correspond to play areas are indicated in
        white. Green text is used for areas that have a quest available. This part
        is a little buggy right now. Only the starting area for the quest is indicated,
        regardless how far you are through the quest. If you visit an active quest on the
        Quest tab, there is a View on Map button there that will take you to the appropriate
        map location. This will also be the starting area for the quest, not wherever your
        next objective is. That will change eventually.
    
    %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
      %h2
        Q. How do the controls work?
      = image_tag 'laertes.png', :alt => 'laertes', :width => 852, :height => 480
      %p
        A. You&apos;ll spend a lot of time in a view like this. The two wheels at the upper
        left and right control the direction you move and the direction you look,
        respectively. This is
        pretty much identical with the Xbox 360 thumbstick controls for a lot of
        first-person games, like Halo and Skyrim. You move with the left wheel and turn
        in place with the right wheel. Use the right wheel to turn left or right or to
        look up or down. If you prefer to press down to look up, you can use the Invert
        inclination setting in the Laertes section of the iOS Settings App to do that.
      %p
        Use the left wheel to move forward, left, right or backward without changing the
        direction you&apos;re facing. Sidestepping and backpedaling are slower than
        moving forward. You can use both wheels at the same time. In particular, you can
        turn while moving. This is usually more effective than moving to the side,
        depending what you are trying to do.
      %p
        I usually play the game by cradling the phone in my palms, so that each thumb pad
        is on top of a wheel, and the bottom of the phone rests in my hands. I then
        usually only ever press up on the left wheel, ignoring the other directions of
        motion. I use the right thumb to turn left or right while moving or standing still.
        I occasionally also look up or down. I also often hold the phone only with my left
        hand, with the left thumb over the top of the left wheel. Then I use the index
        finger of my right hand to tap the right wheel whenever I want to turn.
      %p
        Hold down the zoom button to magnify the scene up to five times. The magnification
        lasts as long as you hold the button down, then reverts. The intention is that you
        only use the zoom when standing still, to get a good look at something far away.
        If you set the phone on a table top, for example, you can hold the zoom button and
        use both wheels to move and look, but that&apos;s not really the intended way to
        use it.
      %p
        If you are a lefty, or you just find this layout difficult, let me know. I have
        thought about adding a setting to switch the sides of the wheels, so that you
        have the option to move with the right and look with the left. I&apos;m not sure
        if there&apos;s a hidden bias there.
      %p
        You have a light whose intensity you control with the slider on the right side of
        the view. When you start game play, it starts at intensity zero, at the bottom.
        The slider disappears during combat. After combat, it reappears set to half
        intensity. It makes things easier to see, but it affects your stealth. The higher
        your light intensity setting, the easier it is for creatures to detect you.
      %p
        The stat button is poorly named. These will eventually be icons, if these buttons
        even survive. This button simply pauses the game, dismissing the game play view and
        returning to the tab view, so you can change weapons, apply a recently gained skill
        point, view quest status, and so on. Return to game play through the Areas list as
        before. Tap the Resume button to simply resume your paused game. You also have the
        option to start a new game in a new area. This will reload the new area, even if
        it&apos;s the same as the one you&apos;re in, and return you to your starting
        point. Often you just want to Resume instead.
      = image_tag 'laertes-map.png', :alt => 'laertes-map', :width => 852, :height => 480
      %p
        Tapping the map button toggles between the 3D perspective view and the aerial map
        view. The player is always represented in the center of the map by a blue x.
        A compass rose indicates the direction of north. The top of the screen is the
        side indicated in this view, on the right of the phone if you are holding it in
        portrait. This always represents the direction the player is facing in the game.
      %p
        Please note: The game is not paused while you are in map mode. If you want to
        pause the game, press stat to return to the tab view. You can, in fact, play the
        entire game in map mode. You can move by dragging the screen with one finger. You
        zoom and rotate using, respectively, the pinch and rotate gestures. People are
        represented as blue circles. Doors are brown circles. Tap them to talk or go
        through them.
    %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
      %h2
        Q. How does combat work?
      = image_tag 'laertes-combat.png', :alt => 'laertes-combat', :width => 852, :height => 480
      %p
        Combat is still mostly automatic, but there is now a lot more animation, not to
        mention sound effects and fight music, and without pausing the game you can now
        change weapons or targets during combat. This will no doubt continue to evolve.
      %p
        Combat begins when a creature notices you. Creatures only notice you if you are
        within a short distance or in their line of sight. Even if your stealth is zero,
        creatures only have a certain chance of noticing you per unit time, and it drops
        off with distance. However, it is dramatically affected by your light, so turn
        your light off or at least down if you are trying to remain undetected.
        If you can attack a creature before being noticed, you will
        do double damage. The attack will start combat unless your sneak attack kills
        your target, though even then, any surviving creatures may still notice you.
      %p
        If your attack misses or does not kill your target, or if you are noticed before
        you can attack, all creatures in the area will notice and come after you. Combat
        will stop, even if there are surviving enemies in the area, when there are no
        more targets in range or line of sight. It can begin again if another creature
        notices you.
      %p
        Once combat begins, your equipped weapon and shield (if you have one and can equip
        it; you have to have a Combat skill of 2 or higher to equip a shield) will appear
        on the screen. If you have not selected a target, the game will automatically
        select one for you among those that are within range of your weapon and in your
        line of sight (not hidden behind walls, etc.). This happens, for example, when
        the first target comes within range, or after you kill your current target.
      %p
        If you don&apos;t like the target selected for you, swipe your finger left or
        right (in landscape orientation, parallel to the long axis of the device) across
        the screen during combat to choose a different target. You cannot choose targets
        that are out of range or out of sight. Also, this control is hypersensitive at the
        moment. One swipe usually results in several selections. In effect, you&apos;re
        selecting a new target at random (this can include the old one). This is a bug.
      %p
        Your current target will be yellow. All others are red.
      %p
        Each weapon has a range and an attack period, which you can see on the item view
        in your inventory. If you wish to change weapons during combat, use the button at
        the upper right labeled
        %em chg.
        If you only have one weapon to equip, the button will be disabled, and instead of
        chg, you&apos;ll see
        %em -.
        Tapping this button during combat simply cycles to the next weapon in your
        inventory.
      %p
        During combat, several controls are hidden, including the zoom button and the light
        slider. Your light comes on during combat automatically at half intensity. In
        addition, you only have one direction wheel, on the left. Your options for motion
        and direction are more limited during combat. The left direction wheel responds
        differently depending whether you have a current target selected or not. In both
        cases, you have no control over your inclination (the angle between your line of
        sight and the horizontal plane) during combat.
      %p
        If you have a current target selected, you will remain facing it at all times.
        Your inclination will be adjusted so that you are always looking down at your target.
        If you press up on the wheel, you&apos;ll press your enemy backwards. If you press
        down on the wheel, you retreat. If you press left or right, you flank in that direction
        by sidestepping and rotating to remain facing your opponent at the same distance.
        There is currently a bug if you equip a bow and do this when a distant target is
        selected. You will fly across the room from side to side, but remain facing your
        target, which is fun, but needs to be fixed.
      %p
        If you do not have a target selected during combat (which usually just means all
        targets are out of range), pressing up or down on the wheel will behave as when a
        target is selected, but sideways movement will work differently. Rather than
        sidestepping to flank a target you don&apos;t have, you can move more or less
        freely. However, since you don&apos;t have a right direction wheel to use for
        turning, pressing left or right on the left wheel during combat moves you
        %em forward,
        instead of sideways, but turns you to face the direction you are pressing at the
        same time, so that you move in an arc to the left or right at full speed.
   
      %p
        Some things to keep in mind:
        %ul
          %li
            If you approach within attack range of an enemy, you will attack that enemy.
            If you have a bow equipped, you will automatically attack pretty well any
            enemy you see. If you do not want to start a fight, be sure you have a melee
            weapon equipped.
          %li
            Currently, state changes are permanent, except for your death. So if you are
            in an area with several enemies, and you manage to kill one before you die, you
            can simply return to that area, and you will have one less enemy to kill this
            time around. Survivors have their health restored on area load, however, so
            you have to kill at least one before you die each time.
          %li
            Enemies cannot follow you through doors, so if you can make it to a door during
            combat, you can escape.
          %li
            If you leave combat and enter an area that is clear (no living enemies), your
            health is restored to 100%.
          %li
            Your health is restored to 100% when combat is over (assuming you survive) if
            no enemies remain in the area you are in. It is possible for combat to stop
            while there are still enemies in another part of the current area. In this
            case, your health is not restored. (You can leave the area and come back to
            restore your health, if you need to.)
          %li
            Whenever you take damage, the screen flashes red, and the word &quot;damage&quot;
            appears in red. Your compass bar at the top of the first-person view also
            gradually turns red. If it is all white, you are at full health. If it is solid
            red, you are dead.
          %li
            Enemies are the opposite: When they are solid red (or yellow, for the current
            target), they are at full health. When you hit them, they fade.
          %li
            The amount of damage you do depends on your Combat skill and the weapon you
            are using. Better weapons (look for a higher grade) do more damage, and so
            do bigger ones. Spears do more than swords, and swords more damage than
            daggers. Bows do the same amount of damage as swords.
          %li
            Bows are ineffective at short range. Against enemies within 10 feet, a bow
            effectively gives you a penalty of two combat points, so switch to a melee
            weapon when enemies close.
          %li
            Depend on the AI, or AS (Artificial Stupidity), as I like to think of it, to
            fail to find you if you run away. It will get confused and hung on corners
            easily. If you can back at a steep angle around a corner, you can probably
            lose one or more of your opponents.
    %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
      %h2
        Q. How do I do other things?
      %p
        A. You have a certain chance per unit time to detect hidden things (doors and
        containers) within a certain distance. You do not have to do anything but move
        around. Detection is governed by your Engineering skill. The higher that skill,
        the easier things are to find. And with most skills, there is a huge, qualitative
        difference between 0 and 1. If your Engineering skill is 0, most things are fairly
        hard to find.
      %p
        Unlocked containers are automatically opened and their contents transferred to your
        inventory once you have found and unlocked them and approached within a certain distance.
      %p
        Messages will tell you when you find things. When you find drachmae (money), you
        will see a number in gold flash at the center of the screen briefly. These numbers
        are usually small.
    
    %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
      %h2
        Q. How do I manage my inventory?
      = image_tag 'laertes-inventory.png', :alt => 'laertes-inventory', :height => 852, :width => 480
      %p
        A. Go to the Inventory tab. If an item (weapon, armor or clothing) can be
        equipped, you can do so on this tab by simply tapping the relevant row. If an item
        like a mortar and pestle cannot be equipped, tapping will have no effect. You can
        also only equip one weapon at a time, so if you tap a new one, the others will all
        be unequipped, like radio buttons. Some items have a certain skill requirement that
        prevents you from equipping them. You can see this on the individual Item view.
      %p
        Tap the blue detail disclosure button on the right side of each table view row
        in the inventory view to see details for that item, including an explanation of
        why you cannot equip an item. You can also equip and unequip items here.
      %p
        You sell things right out of your inventory, without having to find a vendor. Your
        Speech skill does factor in to affect the amount of money you get from the sale.
        You can sell from the Inventory view or the individual Item view. There you also
        have the option to sell multiple instances of a thing instead of selling them one
        at a time.
    %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
      %h2
        Q. Why are the drachma numbers so low?
      %p
        A. According to
        = link_to 'Wikipedia', 'http://en.wikipedia.org/wiki/Drachma', target: '_blank'
        , a drachma was one day&apos;s wage for a hoplite or a skilled worker. I&apos;m
        not sure how this will end up. I may quote values in drachmae and oboloi or something.
        For now, using decimals is convenient. I doubt it will survive in this form forever.
    %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
      %h2
        Q. How do the other skills work?
      %p
        A. Many aspects of game play have not been fully developed yet. Here are some notes:
      %p
        Philosophy can be used to receive certain benefits from books. Some books will give
        you a skill point when you receive them, but only if your Philosophy skill is 1 or
        higher. Others may reveal secret features on the local map, like secret doors. Again,
        you only receive this benefit if you have a 1 or greater Philosophy skill. If you
        receive a book while your Philosophy is 0 and then increase it to 1, you do not get
        the benefits of the book. That will probably change. These are currently the only
        effects of the Philosophy skill. Philosophy is also supposed to govern Medicine/First
        Aid and to provide some degree of clairvoyance via divination (notionally through
        the stars or something). This all remains to be developed.
      %p
        Wilderness is like Philosophy in that it currently only reveals certain things to
        you, and there is no quantitative dependence on the skill rank. There is currently
        no reason to raise either of these skills above 1. If your Wilderness skill is 1 or
        higher, plants are revealed to you on the map, and you can get things from them.
        If your Wilderness skill is 0, they are not indicated on the map and effectively do
        not exist. You cannot find them or use them. Once that skill increases to 1, they
        are marked on your map for you. This is an underdeveloped area of the game.
      %p
        Stealth happens automatically if your Stealth skill is greater than 0. If Stealth is
        0, you are not capable of Stealth at all. If it greater than 0, creatures may fail
        to notice you. They will never notice you if they do not have a line of sight. If
        they do have a line of sight, and your light is on, they notice you immediately.
        Otherwise, there is a finite chance of detection per unit time that depends on the
        creature, on your Stealth skill and the distance between you. Once one creature in
        an area notices you, all do. If you sneak up within attack range without being
        detected, you do double damage on your first attack.
      %p
        Engineering governs finding and unlocking things. This is discussed above. As with
        many other skills, if your skill rank in Engineering is 0, it is much harder to find
        and unlock things than if your skill is 1 or higher, though in this case, these
        things continue to get easier as you increase the skill. Features that are hidden
        or locked have a secret level and a lock level, respectively, that make them hard
        or easy, so continue to increase this skill in order to find and open harder things.
      %p
        Speech affects sale prices out of your inventory and when buying from merchants.
        There are also some speech challenges that have random outcomes depending on your
        Speech skill. As with everything else, it is fairly hopeless (but not impossible)
        to persuade someone with a 0 skill rank. Even at higher ranks you may fail, however.
        You can usually try again until you succeed.
      %p
        Combat affects your ability to use armor and weapons. With a 0 Combat skill, you can
        only use a dagger. With a 1 Combat skill, you can use any weapon. With a 2 or higher,
        you can equip any shield or armor item.
    %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
      %h2
        Q. Why do some areas take a long time to load?
      %p
        A. This probably means you have an out-of-date build. As of build 1.0.0.10, it
        should never take more than a second or two to load an area.
    %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
      %h2
        Q. Why do people and doors seem unresponsive when I tap them?
      %p
        A. This is a bit of code that needs work. The spot you need to tap is at the center
        of the person or door (in the middle of the person&apos;s body, not their head).
        You currently have to tap within 200 pts. of that location on the screen
        (which is 320 pts. wide) and within 10 feet on the map. If you are facing the top
        of a door or a person, tap near the bottom of the screen or look down toward the
        middle and then tap. This will improve over time. It has not bubbled to the top of
        the list is all.
    %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
      %h2
        Q. What settings are there?
      = image_tag 'laertes-settings.png', :alt => 'laertes-settings', :height => 600, :width => 800
      %p
        A. There are a few things you can change by going to the iOS Settings App (the
        one with the gears where you choose your Wi-Fi network and things like that).
        Scroll down to the app settings and find the settings for Laertes.
      %p
        The tour is the collection of transparent overlays that are shown when you first
        install a new version. Once you have seen it (by visiting the Map tab, at the
        moment), it will be suppressed in the future. Set the Suppress tour setting to OFF
        if you want to see it again.
      %p
        If you set the Invert inclination setting to ON, you will look up when you press
        down and vice versa. Be sure to stock plenty of Benzadrine.
      %p
        Switch Person labels to OFF if you do not want to see the name of each person in
        the first-person game play view. I usually play this way and use it for screen
        shots. The default is to show you everyone&apos;s name. I think there are some
        bugs here because I never use it. In addition, somehow it randomly gets set to ON
        every now and then. Clearly this neds a bit of work.
      %p
        The Music Volume setting is passed directly to the AVAudioPlayer object that plays
        the theme and fight music, but that thing seems rather unresponsive to the value.
        You can, at least, disable all music by setting this to 0 (the minimum value, at
        the left). If it is set to anything but 0, the music will play at some constant
        volume. You can control the volume with the overall device volume control and mute
        button. This setting does not affect sound effects, so use it to disable music if
        you are having trouble hearing the sound effects. You will probably have to restart
        game play (not just resume or go through a door) for the change to take effect.
      %p
        Scroll to the bottom of the view to find the High Definition setting. This multiplies
        the number of pixels rendered per frame, making it
        %em very
        expensive. If this option is set, the app will render frames at a lower rate
        (15 fps instead of 20 on an iPhone 5 or iPad 3/4; 10 fps on all other devices). Even
        then, an iPhone 4S cannot even come close to
        keeping up in some of the more involved areas (the Temple Courtyard and the Delphi
        Library particularly) at full resolution (640 x 960). On the 4S, with the High
        Definition setting set to ON, frames are rendered 453 x 679, doubling rather than
        quadrupling the number of pixels.
      %p
        On an iPhone 5, at 15 fps, the app can just barely keep up at full definition
        (640 x 1136). By default, High Definition is set to OFF on all devices. I generally
        only use it for screenshots.
      %p
        You have to recreate the render buffer backing the OpenGL view in order for a
        change in this setting to take effect, so going through a door or resuming a paused
        game is not enough. You have to start again from the Map or Areas view and abandon
        any paused game.
      %p
        These remarks about performance only apply to the area view used for game play.
        The lock picking and item views use full definition (640 x 1136 on a Retina 4; 640 x 960 on a Retina 3.5; 1536 x 2048 on an iPad Retina) on
        all devices without any penalty and are not affected by this setting.
      %p
        Devices without a Retina display are unaffected by this setting.
    %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
      %h2
        Q. What happens when I install a new version?
      %p
        A. There is a migration that runs each time you install a new version. It resets the
        state for all your characters except for skills, skill points and talents. Otherwise,
        each character starts over with fresh gear. But beginning gear depends on your skill
        levels, so you stand to start out with better gear, and you can always find the same
        things again. In addition, the quests should be easier each time because of your
        skill increases.
    %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
      %h2
        Q. What devices have you tested on?
      %p
        A. These:
        %ol
          %li iPhone 5
          %li iPad 4
          %li iPhone 4S
          %li iPad 2
          %li iPod touch 4th gen.
        Not surprisingly, the app does better on later-model hardware. Generally speaking,
        the devices above are listed in order of performance, from best to worst.
    %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
      %h2
        Q. How do I buy from merchants?
      %p
        A. Currently, there is only one merchant in the game, at the Delphi Camp, which
        you reach from the Road to Delphi (where you meet the Stranger) by going through a
        door to the south. He sells a few weapons. Speak to him and tap the
        %em buy
        button in the dialog menu. This brings up a mercantile view not too different from
        your inventory view. Merchants have an unlimited supply of all items, so it is only
        your funds that limit how many of each thing you can buy. The sale price depends on
        your Speech skill, just as when you sell things out of your inventory. Once you
        buy what you want, return to game play by saying Goodbye to the vendor. Then pause
        the game with the
        %em stat
        button to return to the tab view and your inventory, where you can equip your new
        item and sell any old ones you don&apos;t want.
    %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
      %h2
        Q. How do I pick a lock?
      %p
        A. When you tap a locked door or container, if you do not have a key to that
        feature, the lock pick view will appear. If you are not sure if a door or
        container is locked, switch to the aerial map view of the area. If the feature
        is locked, it will be displayed with a red circle and slash. You may have to
        be relatively close to a container to begin lock picking.
      %p
        You can dismiss the lock pick view at any time, without unlocking anything, by
        tapping the red close button at the upper right. While the lock pick view is
        showing, the game is paused, and none of the other controls will respond until
        you dismiss the lock pick view.
      %p
        To pick a lock, once the view is showing, drag your finger slowly around the
        lock pick view (with the wooden background). The pick will follow your finger.
        Each time you open the lock pick view, a random location on the surface of the
        view is selected. Your finger must remain within a certain tolerance of that
        position for a small amount of time in order to open the lock. The tolerance
        depends on your Engineering skill and the lock level of the feature.
      %p
        When you get within that tolerance of the target location, you will hear a
        loud click if the device is not muted. The device will also vibrate. Your
        finger must remain within the computed tolerance for a small time. If you
        move your finger too fast, you may skip over the target and not get any feedback
        or move out of tolerance again even though you received feedback. This can happen
        often when picking difficult locks.
        Once you hear the click or feel the vibration, stop moving your finger. You may
        even need to backtrack to find the right position again.
      %p
        %strong Note:
        The iPad does not vibrate (this might also include other devices). You have to
        have the sound on in order to pick a lock on an iPad, unlike an iPhone. However,
        if you prefer not to play music while you are playing the game, you can turn the
        music volume off in the game settings. Sound effects will still be audible.
      %p
        Once a locked door is opened, you will go through it. Unlocked containers are
        cleaned out whenever you are within range. This occurs automatically once you
        have unlocked a container.
    %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
      %h2
        Q. How do I register a device?
      %p
        A. When you first join TestFlight, it will send you an e-mail. Open it on your
        iPhone, iPad or iPod touch and tap the link.
      %p
        If you have already done that and wish to add a new device, simply visit
        =link_to 'https://testflightapp.com/m/login', 'https://testflightapp.com/m/login', 'target' => '_blank'
        on the device and login with your e-mail and password. (Note: You will have to
        temporarily disable private browsing in Safari this once in order to do so.)
      %p
        You should also let me know if you add a new device. I don&apos;t think TF
        necessarily lets me know when you do. I have to modify some things on my end
        for you to get access once I have the UDID.

  %div.ui-bar{'data-role' => 'footer', 'data-theme' => 'b'}
    = render :partial => 'shared/mobile_footer'
