- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

- word = @sense.word
%div{'data-role' => 'page'}
  %div{'data-role' => 'header', 'data-theme' => 'b', 'data-position' => 'inline'}
    =render :partial => 'dubsar_mobile_header'
    =link_to "#{word.name} (#{word.pos}.)", "/m_word/#{word.id}", 'data-icon' => 'arrow-u', 'data-transition' => 'slidedown', 'data-role' => 'button'
    %br/
    ="#{word.name} (#{word.pos}.)"
    - unless word.other_forms.empty?
      %em
        =" #{word.other_forms}"
    %br/
    &nbsp;
    = "#{@index.next}. #{@sense.synset.gloss}"
  %div{'data-role' => 'content'}
    %h3
      &="<#{@sense.synset.lexname}>"
      &nbsp;
      - if @sense.marker
        = "(#{@sense.marker})"
        &nbsp;
      - if @sense.freq_cnt > 0
        &= "freq. cnt.: #{@sense.freq_cnt.to_s :delimiter => ','}"
    - synonyms = @sense.synset.words_except(word)
    - unless synonyms.empty?
      %h3 synonyms
      &nbsp;
      - synonyms.each do |synonym|
        != m_word_link synonym
    - unless @sense.frames.empty?
      %h3 verb frames
      %ul
        - @sense.frames.each do |frame|
          %li= frame
    - unless @sense.synset.samples.blank?
      %h3 sample sentences
      %ul
        - @sense.synset.samples.each do |sample|
          %li= sample
    - unless @sense.pointers.blank?
      %h3 pointers
      %table
        %tbody
          - @sense.unique_pointers.each do |ptype, words|
            %tr
              %td
                &= ptype
              %td
                - words.each do |word|
                  != m_word_link word

  %div{'data-role' => 'footer', 'data-theme' => 'b'}
    = render :partial => 'mobile_footer'
