- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
- content_for :title do
  ="Dubsar Mobile - #{search_title}"
- content_for :description do
  !=mobile_canonical_link_tag
  %meta{:name => 'Description', :content => meta_description(search_title, @words)}

%div{'data-role' => 'page', 'data-theme' => 'b', 'data-title' => "Dubsar Mobile - #{search_title}"}
  %div{'data-role' => 'header', 'data-position' => 'inline'}
    = render :partial => 'shared/mobile_header'
  %div{'data-role' => 'content'}
    = render :partial => 'mobile_form'
    %br/
    - if not @words.blank?
      %h4=h "search results for \"#{@term}\" (tap to view)"
      %ul{'data-role' => 'listview'}
        - @words.each do |word|
          %li
            = link_to "#{word.name} (#{word.pos}.)", url_for(:action => :m_show, :id => word.id), 'data-transition' => 'slideup'
      %h4= will_paginate @words
    - else
      %em
        &="no results for \"#{@term}\""
  %div.ui-bar{'data-role' => 'footer'}
    = render :partial => 'shared/mobile_footer'
