- #  Dubsar Dictionary Project
- #  Copyright (C) 2010-14 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
- content_for :title do
  Dubsar Mobile
- content_for :description do
  %link{:rel => 'canonical', :href => mobile_url}
  %meta{:name => "msvalidate.01", :content => "F2EEA320FF0F6BDFE375429190B341F2"}
  %meta{:name => 'Description', :content => 'Mobile website for the Dubsar Project, a suite of open-source dictionary applications using content from the Princeton University WordNet® project.'}
  %meta{:name => 'Keywords', :content => 'Dubsar, Dubsar Project, WordNet, thesaurus, dictionary, free dictionary, online dictionary, Ruby on Rails, jQuery, jQuery UI, SQLite, QUnit, open-source, GPL, GitHub, English, mobile, iPhone, iPad, Android, tablet, smart phone'}
  %meta{:property => 'og:title', :content => 'Dubsar Mobile'}
  %meta{:property => 'og:type', :content => 'website'}
  %meta{:property => 'og:url', :content => mobile_url}
  %meta{:property => 'og:image', :content => "#{image_path 'dubsar-big.png'}"}
  %meta{:property => 'og:site_name', :content => 'Dubsar Mobile'}
  %meta{:property => 'fb:admins', :content => '1015821519'}
  %meta{:property => 'og:description', :content => 'The Dubsar Project is a suite of open-source dictionary applications using content from the Princeton University WordNet® project. It has a rich set of mobile interfaces for smart phones, tablets and other mobile devices.'}
  %meta{:property => 'og:email', :content => 'dubsar@dubsar-dictionary.com'}

%div{'data-role' => 'page', 'data-theme' => 'b', 'data-title' => 'Dubsar Mobile'}
  %div{'data-role' => 'header', 'data-position' => 'inline', 'data-theme' => 'b'}
    = render :partial => 'shared/mobile_header'
  %div{'data-role' => 'content'}
    = render :partial => 'mobile_text'
    = render :partial => 'shared/mobile_form', :locals => { :term => @term }
    %br/
    %hr/
    %br/
    - wotd = DailyWord.word_of_the_day.word
    = link_to "Word of the day: #{wotd.name} (#{wotd.pos}.)", url_for(:action => :m_show, :id => wotd.id), 'data-role' => 'button'

  %div.ui-bar{'data-role' => 'footer', 'data-theme' => 'b'}
    = render :partial => 'shared/mobile_footer'
