- #  Dubsar Dictionary Project
- #  Copyright (C) 2010-14 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
!!! 5
%html{'xmlns:dubsar_og' => 'http://dubsar-dictionary.com/og/1.0'}
  %head
    %title Dubsar QUnit Test Suite
    =favicon_link_tag
    =auto_discovery_link_tag :rss, '/rss_news.xml', :title => 'Dubsar News Feed'
    %link{:rel => "search", :type => "application/opensearchdescription+xml", :title => "Dubsar", :href => "/opensearch.xml"}
    %link{:rel => "apple-touch-icon", :href => "#{image_path 'dubsar-iphone.png'}"}
    %link{:rel => "apple-touch-icon", :sizes => "72x72", :href => "#{image_path 'dubsar-ipad.png'}"}
    %link{:rel => "apple-touch-icon", :sizes => "76x76", :href => "#{image_path 'dubsar-76x76.png'}"}
    %link{:rel => "apple-touch-icon", :sizes => "114x114", :href => "#{image_path 'dubsar-retina.png'}"}
    %link{:rel => "apple-touch-icon", :sizes => "120x120", :href => "#{image_path 'dubsar-120x120.png'}"}
    %link{:rel => "apple-touch-icon", :sizes => "144x144", :href => "#{image_path 'dubsar-ipad-retina.png'}"}
    %link{:rel => "apple-touch-icon", :sizes => "152x152", :href => "#{image_path 'dubsar-152x152.png'}"}
    != thumbnail_link_tags
    =stylesheet_link_tag 'jquery-ui-1.8.14.dark'
    =stylesheet_link_tag 'jquery-ui-1.8.14.light'
    =stylesheet_link_tag 'qunit_manifest'
    =stylesheet_link_tag 'qunit'
    =csrf_meta_tag
    %meta{:name => 'Description', :content => 'The Dubsar QUnit test suite puts elements of Dubsar through a sequence of automated tests.'}
    %meta{:name => 'Keywords', :content => 'Dubsar, Dubsar Project, WordNet, dictionary, free dictionary, online dictionary, Ruby on Rails, jQuery, jQuery UI, SQLite, QUnit, open-source, GPL, GitHub, English'}
    %meta{:property => 'og:title', :content => 'QUnit'}
    %meta{:property => 'og:type', :content => 'dubsar_og:feature'}
    %meta{:property => 'og:url', :content => 'https://dubsar-dictionary.com/qunit'}
    %meta{:property => 'og:image', :content => "#{image_path 'dubsar-big.png'}"}
    %meta{:property => 'og:site_name', :content => 'The Dubsar Project'}
    %meta{:property => 'fb:admins', :content => '1015821519'}
    %meta{:property => 'og:description', :content => 'The Dubsar QUnit test suite puts elements of Dubsar through a sequence of automated tests.'}
    %meta{:property => 'og:email', :content => 'dubsar@dubsar-dictionary.com'}
    %link{:rel => 'canonical', :href => 'https://dubsar-dictionary.com/qunit'}

  %body{:class => "style-#{@theme}"}
    %table
      %tbody
        %tr
          %td
            %h2
              %a{:href => root_path, :class => "undecorated", :title => 'home', :style => 'text-decoration: none; font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;'}
                =image_tag 'dubsar.png', :alt => 'D', :style => 'padding-left: 0.1em; padding: 0.2ex; vertical-align: bottom; border-style: none;', :id => 'dubsar-image', :height => "26", :width => "26"
                Dubsar Project
          %td
            .header-link-div.ui-corner-all.ui-state-default{:style => 'margin-top: 0.5em; margin-left: 1.2em; padding: 0.15em 0.25em;'}
              %a#reload-link.header-link{:href => qunit_path, :title => 'Rerun all tests', :style => 'font-variant: small-caps; vertical-align: top; font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;'}
                %span.ui-icon.ui-icon-play{:style => 'float: left'}
                rerun
    %h4{:style => "font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; color: #{theme_color};"}
      The Dubsar QUnit test suite puts elements of Dubsar through a
      sequence of automated tests.
    %h1#qunit-header Dubsar QUnit Test Suite
    %h2#qunit-banner
    %h2#qunit-userAgent
    %ol#qunit-tests

    / Anatomy of a Dubsar page
    #header.ui-widget{:style => 'position: fixed; top: 0; height: 17.8ex; margin: 0.5ex;'}
      - # Slimmed down version without all the tables, etc.
      .header-link-div.ui-corner-all.ui-state-default
        %a#tour-link.line.header-link.search-link{:href => tour_path, :title => 'take a tour'}
          %span.ui-icon.ui-icon-flag
          tour
      .header-link-div.ui-corner-all.ui-state-default
        %a#share-link.line.header-link.search-link{:href => '#', :title => 'Tell the people!'}
          %span.ui-icon.ui-icon-comment
          share

      #share-dialog.template
      =render :partial => 'shared/header_bar'
      =render :partial => 'shared/theme_picker'
    #error.ui-state-highlight.ui-corner-all{:style => 'display: none; position: fixed; margin: 0.5ex; height: 3ex; top: 20.7ex;'}
    #main{:style => 'overflow: auto; position: absolute; top: 24.7ex; bottom: 9.6ex; margin: 1.9ex 0.5ex;'}
      #accordion
        - (0...30).each do |i|
          %h2{:id => "header_pane_#{i}"}
            %a{:href => "#header_pane_#{i}"}
              &="pane #{i}"
          %div{:id => "pane_#{i}"}
            %span.tooltip
              &="something in pane #{i}"
              .template
                .ui-widget-header
                  .ui-state-default.line
                    %span.ui-icon.ui-icon-info
                    %span.tooltip-header-text
                      %em
                        &="<noun.Tops>"
                    %a.close-icon-span.ui-state-default{:href => '#'}
                      %span.ui-icon.ui-icon-close
                %hr/
                %strong sample sentences
                %table
                  %tbody
                    %tr
                      %td
                        &="you're the Tops"

      .pagination{:style => 'position: fixed; bottom: 6.2ex; height: 3ex; margin: 0.2ex;'}
        %a#pagination-link{:href => '#'} &nbsp;
    #footer{:style => 'position: fixed; bottom: 0; height: 6ex; margin: 0.2ex; font-size: 0.9em;'}
      =render 'shared/footer'

    =javascript_include_tag 'qunit_manifest'
