- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
!!!
%html
  %head
    %title Dubsar QUnit Test Suite
    =stylesheet_link_tag 'jquery-ui-1.8.5.light'
    =javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js'
    =javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'
    =stylesheet_link_tag 'http://github.com/jquery/qunit/raw/master/qunit/qunit.css'
    =javascript_include_tag 'http://github.com/jquery/qunit/raw/master/qunit/qunit.js'

    =javascript_include_tag 'jquery.watermark.min'
    =javascript_include_tag 'application'
    =javascript_include_tag 'application_test'
    =javascript_include_tag 'application-ui'
    =javascript_include_tag 'application-ui_test'

  %body.style-light
    %h1#qunit-header Dubsar QUnit Test Suite
    %h2#qunit-banner
    %h2#qunit-userAgent
    %ol#qunit-tests

    / Anatomy of a Dubsar page
    #header.ui-widget{:style => 'position: fixed; top: 0; height: 17.8ex; margin: 0.5ex;'}
    #error.ui-state-highlight.ui-corner-all{:style => 'display: none; position: fixed; margin: 0.5ex; height: 3ex; top: 20.7ex;'}
    #main{:style => 'overflow: auto; position: absolute; top: 24.7ex; bottom: 9.6ex; margin: 1.9ex 0.5ex;'}
      #accordion
        - (0...30).each do |i|
          %h2{:id => "header_pane_#{i}"}
            %a{:href => "#header_pane_#{id}"}
              &="pane #{i}"
          %div{:id => "pane_#{i}"}
            &="something in pane #{i}"

      .pagination{:style => 'position: fixed; bottom: 6.2ex; height: 3ex; margin: 0.2ex;'}
        %a{:href => '#'} &nbsp;
    #footer{:style => 'position: fixed; bottom: 0; height: 6ex; margin: 0.2ex; font-size: 0.9em;'}
