- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
!!!
%html
  %head
    %title Dubsar QUnit Test Suite
    !=stylesheet_link_merged :qunit
    =csrf_meta_tag
    %meta{:name => 'Description', :content => 'Hosted QUnit test suite for the Dubsar Project.'}

  %body{:class => "style-#{@theme}"}
    %h2
      %a{:href => "#{root_path}", :class => "undecorated", :title => 'home', :style => 'text-decoration: none; font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;'}
        %img#dubsar-image{:src => '/images/dubsar.png', :alt => 'D', :style => 'padding-left: 0.1em; padding: 0.2ex; height: 2ex; vertical-align: bottom; border-style: none;'}
        Dubsar Project
    %h1#qunit-header Dubsar QUnit Test Suite
    %h2#qunit-banner
    %h2#qunit-userAgent
    %ol#qunit-tests

    / Anatomy of a Dubsar page
    #header.ui-widget{:style => 'position: fixed; top: 0; height: 17.8ex; margin: 0.5ex;'}
      =render :partial => 'shared/header_bar'
      =render :partial => 'shared/theme_picker'
    #error.ui-state-highlight.ui-corner-all{:style => 'display: none; position: fixed; margin: 0.5ex; height: 3ex; top: 20.7ex;'}
    #main{:style => 'overflow: auto; position: absolute; top: 24.7ex; bottom: 9.6ex; margin: 1.9ex 0.5ex;'}
      #accordion
        - (0...30).each do |i|
          %h2{:id => "header_pane_#{i}"}
            %a{:href => "#header_pane_#{i}"}
              &="pane #{i}"
          %div{:id => "pane_#{i}"}
            %span.tooltip
              &="something in pane #{i}"
              .template
                .ui-widget-header
                  .ui-state-default.line
                    %span.ui-icon.ui-icon-info
                    %span.tooltip-header-text
                      %em
                        &="<noun.Tops>"
                    %a.close-icon-span.ui-state-default{:href => '#'}
                      %span.ui-icon.ui-icon-close
                %hr/
                %strong sample sentences
                %table
                  %tbody
                    %tr
                      %td
                        &="you're the Tops"

      .pagination{:style => 'position: fixed; bottom: 6.2ex; height: 3ex; margin: 0.2ex;'}
        %a#pagination-link{:href => '#'} &nbsp;
    #footer{:style => 'position: fixed; bottom: 0; height: 6ex; margin: 0.2ex; font-size: 0.9em;'}
      =render 'shared/footer'

    =javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js'
    !=javascript_include_merged :qunit
