%h2 Dubsar

%p
  This is the Dubsar website. Mobile apps are available for free:

%ul
  %li
    = link_to 'App Store', 'https://itunes.apple.com/us/app/dubsar/id453868483?mt=8'
  %li
    = link_to 'Google Play', 'https://play.google.com/store/apps/details?id=com.dubsar_dictionary.Dubsar'
  %li
    = link_to 'Amazon App Store', 'http://www.amazon.com/gp/mas/dl/android?p=com.dubsar_dictionary.Dubsar&ref=mas_pm_app_name'
  %li
    = link_to 'APK download (591 kB)', apk_link

%p
  I can&apos;t say Dubsar is always the finest example of my coding abilities, but the
  source is GPL and available in GitHub:

%ul
  %li
    = link_to 'Rails app', 'https://github.com/jdee/dubsar'
  %li
    = link_to 'iOS app', 'https://github.com/jdee/dubsar_ios'
  %li
    = link_to 'Android app', 'https://github.com/jdee/dubsar_android'

%h2 Laertes

= image_tag 'laertes.png', size: '284x160'
= image_tag 'laertes-combat.png', size: '284x160'

%p
  Laertes is a first-person fantasy role-playing game for iOS using OpenGL ES 2.0. I built
  a Rails/jQuery UI/Raphael.js app to make the content for the app, which is mostly SQLite.
  This is a work in progress and will likely take some time to finish. Screenshots are
  available
  =link_to 'here.', 'http://redmenace.imgur.com/Laertes'
  There will doubtless be an Android version of Laertes some day as well, but not yet.

%h2 Tensor

%p
  Tensor is the working name for a new productivity app I have started building in the last
  month or so. I built it
  to replace spreadsheets I used for grocery and to-do lists. There is currently a Rails
  webapp and an iOS app. I also plan to build an Android app fairly soon.

%h2 TestFlight

%p
  I distribute iOS test builds on TestFlight.
  If you would like to take a look at Laertes or Tensor, you just have to sign up to be
  a tester
  = link_to 'here.', 'http://tflig.ht/q5zFmO'
  Please also contact me directly, especially if I don&apos;t know you personally.
  iOS 7 is required for both apps at the moment, and for Laertes, which uses a lot of
  resources, the later the model, the
  better. The best experience is on an iPhone 5 or later. Laertes has 64-bit support as
  well, though that is recent and not thoroughly tested.
