- #  Dubsar Dictionary Project
- #  Copyright (C) 2010-15 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

%strong Mobile Apps
%br/
= link_to 'https://itunes.apple.com/us/app/dubsar-dictionary-project/id453868483?mt=8', style: 'text-decoration: none;', target: '_blank' do
  =image_tag 'Download_on_the_App_Store_Badge_US-UK_135x40.svg', size: '135x40', alt: 'Download on the App Store'
= link_to 'https://play.google.com/store/apps/details?id=com.dubsar_dictionary.Dubsar', style: 'text-decoration: none;', target: '_blank' do
  = image_tag 'en_app_rgb_wo_45.png', alt: 'Android app on Google Play', size: '129x45'
= link_to 'http://www.amazon.com/gp/mas/dl/android?p=com.dubsar_dictionary.Dubsar&ref=mas_pm_app_name', style: 'text-decoration: none;', target: '_blank' do
  = image_tag 'amazon-apps-store-us-black.png', alt: 'Available at Amazon', size: '132x45', id: 'amazon-light'
  = image_tag 'amazon-apps-store-us-white.png', alt: 'Available at Amazon', size: '132x45', id: 'amazon-dark'
%br/
= link_to 'APK (591 kB)', apk_link, style: 'font-size: large;'
