- #  Dubsar Dictionary Project
- #  Copyright (C) 2010-13 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
- content_for :title do
  Resume for Jimmy Dee

%div{'data-role' => 'page', 'data-theme' => 'b', 'data-title' => 'Dubsar Mobile'}
  %div{'data-role' => 'header', 'data-position' => 'inline', 'data-theme' => 'b'}
    = render :partial => 'shared/mobile_header'
  %div{'data-role' => 'content'}

    %h1
      Jimmy Dee
    %strong Freelance Mobile Software Developer
    &middot;
    = link_to 'jimmy.dee@dubsar-dictionary.com', 'mailto:jimmy.dee@dubsar-dictionary.com'
    %br/
    %br/
  
    %div{'data-role' => 'collapsible', 'data-collapsed' => 'false'}
      %h2
        Summary
      = render partial: 'summary'
    %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
      %h2
        Employment
      = render partial: 'employment'
    %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
      %h2
        Education
      = render partial: 'education'
    %div{'data-role' => 'collapsible', 'data-collapsed' => 'true'}
      %h2
        Apps
      = render partial: 'apps'

  %div.ui-bar{'data-role' => 'footer', 'data-theme' => 'b'}
    = render :partial => 'shared/mobile_footer'
