- content_for :title do
  Resume for Jimmy Dee

= render partial: 'home_button'
#resume
  %h1
    Jimmy Dee
  %strong Freelance Mobile Software Developer
  &middot;
  = link_to 'jimmy.dee@dubsar.info', 'mailto:jimmy.dee@dubsar.info'
  %br/
  %br/

  = link_to 'Summary', '#summary'
  = link_to 'Employment', '#employment'
  = link_to 'Education', '#education'
  = link_to 'Apps', '#apps'

  .rounded-block#summary
    %h2 Summary
    = render partial: 'summary'
  .rounded-block#employment
    %h2 Employment
    = render partial: 'employment'
  .rounded-block#education
    %h2 Education
    = render partial: 'education'
  .rounded-block#apps
    %h2 Apps
    = render partial: 'apps'
