!!!
%html
  %head
    %title
      Dubsar
    = stylesheet_link_tag 'jquery-ui-1.8.5.custom'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery-1.4.2.min'
    = javascript_include_tag 'jquery-ui-1.8.5.custom.min'
    = javascript_include_tag :defaults
    = csrf_meta_tag

  %body
    %h3
      =link_to 'Dubsar Dictionary', root_path, :class => "undecorated", :title => 'home'
    #header-bar
      %table
        %tr
          - ('A'..'Z').each do |letter|
            %td
              = link_to letter, url_for(:action => :show, :term => letter + '%'), :title => "words starting with #{letter}"
      .word-lookup
        = form_tag(url_for(:controller => :words, :action => :show), :method => :get) do
          = label_tag :starts_with, 'starts with', :id => 'word-starts-with-label'
          = check_box_tag :starts_with, 'yes', false, :id => 'word-starts-with', :tabindex => '1'

          = label_tag :term, 'enter a word:', :id => 'word-input-label'
          = text_field_tag :term, '', :id => 'word-input', :tabindex => '2'
          %button{:type => 'submit', :id => 'word-submit', :tabindex => '3'} search
    %hr/
    =yield
