!!!
%html
  %head
    %title
      Dubsar
    = stylesheet_link_tag "ui-#{@theme}ness/jquery-ui-1.8.5.custom"
    = stylesheet_link_tag "ui-#{@theme}ness/application"
    = stylesheet_link_tag 'common'
    = javascript_include_tag 'jquery-1.4.2.min'
    = javascript_include_tag 'jquery-ui-1.8.5.custom.min'
    = javascript_include_tag 'autocomplete'
    = javascript_include_tag 'theme_picker'
    = javascript_include_tag 'application'
    = csrf_meta_tag

  %body
    %h2
      =link_to 'Dubsar Dictionary', root_path, :class => "undecorated", :title => 'home'
    =render :partial => 'shared/theme_picker'
    =render :partial => 'shared/header_bar'
    %hr/
    -if flash[:error]
      #error.ui-state-error.ui-corner-all
        %span.ui-icon.ui-icon-alert
        =h flash[:error]
    =yield
