!!!
%html
  %head
    %title
      Dubsar
    = stylesheet_link_tag "ui-darkness/jquery-ui-1.8.5.custom"
    = stylesheet_link_tag "ui-darkness/application"
    = stylesheet_link_tag "ui-lightness/jquery-ui-1.8.5.custom"
    = stylesheet_link_tag "ui-lightness/application"
    = stylesheet_link_tag 'common'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'
    = javascript_include_tag 'jquery.watermark.min'
    = javascript_include_tag 'application'
    = javascript_include_tag 'accordion'
    = javascript_include_tag 'autocomplete'
    = javascript_include_tag 'theme_picker'
    = csrf_meta_tag

  %body{:class => "style-#{@theme}"}
    #header
      %h2
        %a{:href => "#{root_path}", :class => "undecorated", :title => 'home'}
          Dubsar Dictionary Project
      =render partial: 'shared/theme_picker'
      =render partial: 'shared/header_bar'
      %hr/
    - if flash[:error]
      #error.ui-state-error.ui-corner-all
        %span.ui-icon.ui-icon-alert
        =h flash[:error]
    #main
      =yield
