!!!
%html
  %head
    %title
      Dubsar
    = stylesheet_link_tag 'jquery-ui-1.8.5.custom'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery-1.4.2.min'
    = javascript_include_tag 'jquery-ui-1.8.5.custom.min'
    = javascript_include_tag :defaults
    = csrf_meta_tag

  %body
    %h3
      =link_to 'Dubsar Dictionary', root_path, :class => "undecorated", :title => 'home'
    #header-bar
      %table
        %tr
          - ('A'..'Z').each do |letter|
            %td
              = link_to letter, url_for(:action => :starts_with, :term => letter), :title => "words starting with #{letter}"
      .word-lookup
        = form_tag(url_for(:controller => :words, :action => :show), :method => :get) do
          = label_tag :name, 'enter a word:'
          = text_field_tag :name, '', :id => 'word-input'
          = submit_tag 'look up', :id => 'word-submit'
    %hr/
    =yield
