- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
!!!
%html
  %head
    %title
      =yield :title
    != thumbnail_link_tag
    != stylesheet_link_merged :base
    = csrf_meta_tag
    =yield :description
    %meta{:name => 'Keywords', :content => 'Dubsar, Dubsar Project, WordNet, dictionary, free dictionary, online dictionary, Ruby on Rails, jQuery, jQuery UI, PostgreSQL, QUnit, open-source, GPL, GitHub'}

  %body{:class => "style-#{@theme}"}
    #header.ui-widget
      %h2
        %a{:href => "#{root_path}", :class => "undecorated", :title => 'home'}
          =image_tag 'dubsar.png', :alt => 'D', :id => 'dubsar-image'
          Dubsar Project
      #tour-link-div.ui-corner-all.ui-state-default{:style => 'position: fixed!important;'}
        %a#tour-link.search-link{:href => "#{tour_path}", :title => 'take a tour'}
          %span#tour-link-icon.ui-icon.ui-icon-flag
          tour
      =render :partial => 'shared/theme_picker'
      =render :partial => 'shared/header_bar'
      %hr/
    =render :partial => 'shared/error'
    #main
      =yield
    =yield :pagination
    #footer.ui-widget
      =render :partial => 'shared/footer'

    != javascript_include_merged :base
