- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
!!!
%html
  %head
    %title
      Dubsar
    %link{:rel => 'thumbnail', :href => '/images/dubsar.png', :type => 'image/png'}
    = stylesheet_link_tag 'ui-darkness/jquery-ui-1.8.5.custom', 'ui-darkness/application', 'ui-lightness/jquery-ui-1.8.5.custom', 'ui-lightness/application', 'common', :concat => true, :cache => 'dubsar'
    = csrf_meta_tag

  %body{:class => "style-#{@theme}"}
    #header.ui-widget
      %h2
        %a{:href => "#{root_path}", :class => "undecorated", :title => 'home'}
          %img{:src => '/images/dubsar.png', :alt => 'Dubsar', :id => 'dubsar-image'}
          Dubsar Project
      #tour-link-div.ui-corner-all.ui-state-default{:style => 'position: fixed!important;'}
        %a#tour-link.search-link{:href => "#{tour_path}", :title => 'take a tour'}
          %span#tour-link-icon.ui-icon.ui-icon-flag
          tour
      =render :partial => 'shared/theme_picker'
      =render :partial => 'shared/header_bar'
      %hr/
    - if flash[:error]
      #error.ui-state-error.ui-corner-all
        %span.ui-icon.ui-icon-alert
        =h flash[:error]
    - else
      #error.ui-state-highlight.ui-corner-all{:style => 'display: none;'}
        %span.ui-icon.ui-icon-info
        searching...
    #main
      =yield
    #footer
      =render :partial => 'shared/footer'

    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'
    = javascript_include_tag 'jquery.watermark.min'
    = javascript_include_tag 'application'
