- #  Dubsar Dictionary Project
- #  Copyright (C) 2010-14 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
!!! 5
%html{'xmlns:dubsar_og' => 'http://dubsar-dictionary.com/og/1.0'}
  %head
    %title
      = yield :title
    = favicon_link_tag source='cpyn.ico'
    %link{:rel => "apple-touch-icon", :sizes => "76x76", :href => "#{image_path 'cpyn-76x76.png'}"}
    %link{:rel => "apple-touch-icon", :sizes => "120x120", :href => "#{image_path 'cpyn-120x120.png'}"}
    %link{:rel => "apple-touch-icon", :sizes => "152x152", :href => "#{image_path 'cpyn-152x152.png'}"}
    = yield :description

    = csrf_meta_tag
    = stylesheet_link_tag 'cpyn_manifest'
    %meta{name:"viewport", content:"initial-scale=1.0"}

  %body{style: 'color: #e6e6fa; background-color: #191970; font-family: Avenir Next; max-width: 750pt; margin-left: auto; margin-right: auto;'}
    = yield

    %hr/
    %p{style: 'text-align: center;'}
      =link_to 'about', 'https://cpyn.mobi/about-cpyn'
      &middot;
      =link_to 'help', 'https://cpyn.mobi/how-to-cpyn'
      &middot;
      =link_to 'home', 'https://cpyn.mobi'
      &middot;
      =link_to 'privacy', 'https://cpyn.mobi/cpyn-privacy'
      &middot;
      =link_to 'support', 'https://cpyn.mobi/cpyn-support'
    %h6{style: 'text-align: center;'}
      &copy; 2014 Jimmy Dee. All rights reserved.
    -# No JS besides the Twitter button atm
    -# = javascript_include_tag 'cpyn_manifest'
