- #  Dubsar Dictionary Project
- #  Copyright (C) 2010-14 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
!!! 5
%html{'xmlns:dubsar_og' => 'http://dubsar-dictionary.com/og/1.0'}
  %head
    %title
      = yield :title
    = favicon_link_tag
    = auto_discovery_link_tag :rss, 'https://dubsar-dictionary.com/rss_news.xml', :title => 'Dubsar News Feed'
    = auto_discovery_link_tag :rss, 'https://dubsar-dictionary.com/wotd.xml', :title => 'Dubsar Word of the Day'
    %link{:rel => "search", :type => "application/opensearchdescription+xml", :title => "Dubsar Mobile", :href => "https://dubsar-dictionary.com/mobile-opensearch.xml"}
    %link{:rel => "apple-touch-icon", :href => "#{image_path 'dubsar-iphone.png'}"}
    %link{:rel => "apple-touch-icon", :sizes => "72x72", :href => "#{image_path 'dubsar-ipad.png'}"}
    %link{:rel => "apple-touch-icon", :sizes => "76x76", :href => "#{image_path 'dubsar-76x76.png'}"}
    %link{:rel => "apple-touch-icon", :sizes => "114x114", :href => "#{image_path 'dubsar-retina.png'}"}
    %link{:rel => "apple-touch-icon", :sizes => "120x120", :href => "#{image_path 'dubsar-120x120.png'}"}
    %link{:rel => "apple-touch-icon", :sizes => "144x144", :href => "#{image_path 'dubsar-ipad-retina.png'}"}
    %link{:rel => "apple-touch-icon", :sizes => "152x152", :href => "#{image_path 'dubsar-152x152.png'}"}
    != thumbnail_link_tag 'dubsar.png'
    != thumbnail_link_tag 'dubsar-full.png'
    = yield :description

    = csrf_meta_tag
    = stylesheet_link_tag 'jquery-ui-1.8.14.autocomplete'
    = stylesheet_link_tag 'jquery.mobile-1.0b2.min'
    = stylesheet_link_tag 'mobile_manifest'
    %meta{name:"viewport", content:"width=device-width, user-scalable=no"}

  %body
    = yield

    = javascript_include_tag 'mobile_manifest'
