- #  Dubsar Dictionary Project
- #  Copyright (C) 2010 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
!!! 5
%html{'xmlns:dubsar_og' => 'http://dubsar-dictionary.com/og/1.0'}
  %head
    %title
      = yield :title
    = favicon_link_tag
    = auto_discovery_link_tag :rss, '/rss_news.xml', :title => 'Dubsar News Feed'
    %link{:rel => "search", :type => "application/opensearchdescription+xml", :title => "Dubsar", :href => "/opensearch.xml"}
    %link{:rel => 'canonical', :href => 'http://dubsar-dictionary.com/m'}
    != thumbnail_link_tag 'dubsar.png'
    != thumbnail_link_tag 'dubsar-full.png'
    %meta{:name => 'Description', :content => 'The Dubsar Project is an open-source dictionary application using content from the Princeton University WordNet® project. It has a rich mobile interface for smart phones, tablets and other mobile devices.'}
    %meta{:name => 'Keywords', :content => 'Dubsar, Dubsar Project, WordNet, thesaurus, dictionary, free dictionary, online dictionary, Ruby on Rails, jQuery, jQuery UI, PostgreSQL, QUnit, open-source, GPL, GitHub, English, mobile, iPhone, iPad, Android, tablet, smart phone'}
    %meta{:property => 'og:title', :content => 'Dubsar Mobile'}
    %meta{:property => 'og:type', :content => 'dubsar_og:mobile'}
    %meta{:property => 'og:url', :content => 'http://dubsar-dictionary.com/m'}
    %meta{:property => 'og:image', :content => "#{image_path 'dubsar-big.jpg'}"}
    %meta{:property => 'og:site_name', :content => 'The Dubsar Project'}
    %meta{:property => 'fb:admins', :content => '1015821519'}
    %meta{:property => 'og:description', :content => 'The Dubsar Project is an open-source dictionary application using content from the Princeton University WordNet® project. It has a rich mobile interface for smart phones, tablets and other mobile devices.'}
    %meta{:property => 'og:email', :content => 'dubsar@dubsar-dictionary.com'}

    = csrf_meta_tag
    != stylesheet_link_merged :mobile
    = stylesheet_link_tag "http://code.jquery.com/mobile/latest/jquery.mobile.min.css"
    - # = stylesheet_link_tag "http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css"

  %body
    = yield

    != javascript_include_merged :mobile
    = javascript_include_tag "http://code.jquery.com/mobile/latest/jquery.mobile.min.js"
    - # / = javascript_include_tag "http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"
