- #  Dubsar Dictionary Project
- #  Copyright (C) 2010-13 Jimmy Dee
- #
- #  This program is free software; you can redistribute it and/or
- #  modify it under the terms of the GNU General Public License
- #  as published by the Free Software Foundation; either version 2
- #  of the License, or (at your option) any later version.
- #
- #  This program is distributed in the hope that it will be useful,
- #  but WITHOUT ANY WARRANTY; without even the implied warranty of
- #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
- #  GNU General Public License for more details.
- #
- #  You should have received a copy of the GNU General Public License
- #  along with this program; if not, write to the Free Software
- #  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
!!! 5
%html{'xmlns:dubsar_og' => 'http://dubsar-dictionary.com/og/1.0'}
  %head
    %title
      = yield :title
    = favicon_link_tag
    = auto_discovery_link_tag :rss, 'https://dubsar-dictionary.com/rss_news.xml', :title => 'Dubsar News Feed'
    = auto_discovery_link_tag :rss, 'https://dubsar-dictionary.com/wotd.xml', :title => 'Dubsar Word of the Day'
    %link{:rel => "search", :type => "application/opensearchdescription+xml", :title => "Dubsar Mobile", :href => "https://dubsar-dictionary.com/mobile-opensearch.xml"}
    %link{:rel => "apple-touch-icon", :href => "#{image_path 'dubsar-iphone.png'}"}
    %link{:rel => "apple-touch-icon", :sizes => "72x72", :href => "#{image_path 'dubsar-ipad.png'}"}
    %link{:rel => "apple-touch-icon", :sizes => "114x114", :href => "#{image_path 'dubsar-retina.png'}"}
    %link{:rel => "icon", :href => "#{image_path 'dubsar-android.png'}"}
    != thumbnail_link_tag 'dubsar.png'
    != thumbnail_link_tag 'dubsar-full.png'
    = yield :description

    = csrf_meta_tag
    = stylesheet_link_tag 'jquery-ui-1.8.14.autocomplete'
    = stylesheet_link_tag 'mobile'
    = stylesheet_link_tag 'jquery.mobile-1.0b2.min'

  %body
    = yield

    = link_to 'http://internetdefenseleague.org' do
      = image_tag 'idl_footer_badge.png', :alt => 'Member of the Internet Defense League', :style => 'margin:0px; padding:0px; border-style:none; position: absolute; right: 1em; bottom: 1em;'

    = javascript_include_tag 'jquery-1.6.2.min'
    = javascript_include_tag 'jquery-ui-1.8.14.autocomplete.min'
    = javascript_include_tag 'autocompleter'
    = javascript_include_tag 'jquery.mobile-1.0b2.min'
